<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDg_zQJrX6GzPuEo4YaByDbkiykAqrSMQE</string>
	<key>GCM_SENDER_ID</key>
	<string>29131849243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pebblesHabitTracker</string>
	<key>PROJECT_ID</key>
	<string>pebbles---habit-tracking</string>
	<key>STORAGE_BUCKET</key>
	<string>pebbles---habit-tracking.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29131849243:ios:ce758ada840ab221fb02be</string>
</dict>
</plist>